<html>

<div class="header">
  <div>
    <img src="../assets/new_ra_logo.png" style="width: 20%">

    <div class="header-right">
      <!-- <a class="active" href="#home">Home</a>
      <a href="#contact">Contact.</a> -->
      <a>Mech+ (MechPlus)</a>
    </div>

  </div>
</div>



<div style="padding-left:20px; padding-right: 20px; 
letter-spacing: 0.5px;line-height: 1.5;">

  <h1>Privacy Policy</h1>
  <p>Last updated on 24th January 2022.</p>

  <div style="margin-top: 50px">
    <p>
      This Privacy Policy (&#34;Policy&#34;) describes the policies and procedures on the collection, use,
      disclosure and protection of your information when you use our or the MechApp Plus
      Application, made available by Sundaravijayam Automobile Services Private Limited
      (&#34;ReadyAssist&#34;, &#34;Company&#34;, &#34;we&#34;, &#34;us&#34; and &#34;our&#34;), a private company
      established under the laws of India having its registered office at &#35;16, 3rd floor, 17th cross,
      9th main road,Sector 7 HSR Layout, Bengaluru, Karnataka 560102
    </p>

    <p>
      The terms &#34;You&#34;, and &#34;Your&#34; refer to the Mechanic / Technician / user of the MechApp Plus.
      The term &#34;Services&#34; refer to any service that shall be completed by the user on the MechApp
      Plus Application. In order to use the Mechapp Plus Application, you must first agree to the
      Terms. You can accept the Terms by&#58;
    </p>

    <p>
      Clicking to accept or agree to the Terms, where it is made available to you by
      ReadyAssist in the user interface for any Service&#59; or
    </p>

    <p>
      Using the Mechapp Plus Application. In this case, you understand and agree that
      ReadyAssist will treat your use of the Services as acceptance of the Terms from that
      point onwards.
    </p>

    <p>
      Please read this Privacy Policy before using the MechApp Plus or submitting any personal
      information to MechApp Plus. This Policy is part and incorporated within, and is to be read
      along with the Terms and Conditions.
    </p>

    <p style="font-weight: 800; margin-top: 50px;">
      USER'S CONSENT
    </p>

    <p>
      By using the MechApp Plus, you agree and consent to the collection, transfer, use, storage,
      disclosure and sharing of your information as described and collected by us in accordance
      with the Policy.
    </p>

    <p style="font-weight: 800; margin-top: 50px;">
      INFORMATION COLLECTED
    </p>

    <p>
      In order to enhance the user experience and provide Our Services, we collect information
      about You from two sources:
      (i) information You affirmatively and voluntarily give to us&#59; and
      (ii) information automatically collected when You login to our Application.
    </p>

    <p style="font-weight: 550; margin-top: 20px;">
      Information Shared by You&#58;
    </p>

    <p>
      This includes information submitted when you log into the
      application with your registered mobile number. One - Time Password (OTP) shall be sent to
      the registered mobile number every time to ensure security.
    </p>

    <p style="font-weight: 550; margin-top: 20px;">
      Information we collect from you&#58;
    </p>

    <p>
      With regards to each of your visits to the MechApp Plus
      Application, we will automatically collect and analyze the demographic and other
      information: Location Information - Depending on the usage of the Application, we shall
      collect you real time information, or approximate location information as determined through
      data such as GPS and IP Addresses. We request the user to grant permission to allow the
      device's location and background location access until the application is in use. We shall
      access user's background location access only until the user is logged into the application.
      The access to background location access shall be granted by you in order to manage and
      monitor such orders and for emergency and security purposes. The user has to enable
      "Screen / Display Overlay the application" on the device settings, to allow the application to
      send notifications over another application and alert the user. We request the user to grant
      permission to allow the Camera, Storage, Microphone, Phone and SMS.
    </p>

    <p style="font-weight: 550; margin-top: 20px;">
      Device Information&#58;
    </p>

    <p>
      We may collect information about the devices for the usage of the
      Application, including the hardware models, operating systems and versions, software, file
      names and versions, preferred languages, unique device identifiers, advertising identifiers,
      serial numbers, device motion information and mobile network information. Analytics
      companies may use mobile device IDs to track your usage of the Application.
      Non-Personal Information: When You login into the Application, We may collect certain
      non-personal information such as Your internet protocol address, operating system, browser
      type, internet service provider, aggregate user data, browser type, software and hardware
      attributes, and the date and time of Your visit to Application or usage of the Application, etc.
      This type of information does not identify you personally.
    </p>

    <p style="font-weight: 800; margin-top: 50px;">
      DISCLOSURE AND DISTRIBUTION OF YOUR INFORMATION
    </p>

    <p>
      With Customers: We may share your name, phone number and your tracking details with
      our customers in order to complete such orders.
    </p>

    <p>
      For Crime Prevention or Investigation: We may share this information with governmental
      agencies or other companies assisting us, when we are:
    </p>

    <p>
      Obligated under the applicable laws or in good faith to respond to court orders and
      processes; or
    </p>

    <p>
      Detecting and preventing against actual or potential occurrence of identity theft, fraud,
      abuse of Services and other illegal acts;
    </p>

    <p>
      Responding to claims that an advertisement, posting or other content violates the
      intellectual property rights of a third party;
    </p>

    <p>
      Under a duty to disclose or share your personal data in order to enforce our Terms of Use
      and other agreements, policies or to protect the rights, property, or safety of the Company,
      our customers, or others, or in the event of a claim or dispute relating to your use of our
      Services. This includes exchanging information with other companies and organizations
      for the purposes of fraud detection and credit risk reduction.
    </p>

    <p>
      For Internal Use: We may share your information with any present or future member of
      our “Team” (as defined below)or affiliates for our internal business purposes The term
      “Team” means, with respect to any person, any entity that is controlled by such person, or
      any entity that controls such person, or any entity that is under common control with such
      person, whether directly or indirectly, or, in the case of a natural person, any Relative (as
      such term is defined in the Companies Act, 1956 and Companies Act, 2013 to the extent
      applicable) of such person.
    </p>

    <p>
      We may share your information other than as described in this Policy if we notify you
      and you consent to the sharing.
    </p>

    <p style="font-weight: 800; margin-top: 50px;">
      USES OF YOUR INFORMATION
    </p>

    <p>
      To carry out our obligations arising from contracts entered into between you and us
      and to provide you with relevant information and services;
    </p>

    <p>
      To administer and enhance the security of our application and for internal operations,
      including testing, research, statistical and survey purposes;
    </p>

    <p>
      To generate and review reports and data about, and to conduct research on, our user
      base and Service usage patterns.
    </p>


    <p style="font-weight: 800; margin-top: 50px;">
      AMENDMENTS TO OUR PRIVACY POLICY
    </p>

    <p>
      We have the exclusive and unconditional right to change, modify, add, or remove portions of
      this Policy at any time, without specifically notifying you of such amendments. Any changes
      or updates will be effective immediately. You should revisit the Policy regularly for any
      changes. You can determine if changes have been made by checking the "Last Updated"
      above. If we make any significant changes or amendments to this Policy we will endeavour
      to provide you with reasonable notice of such changes or amendments, such as via prominent
      notice on the Application or to your email address on record and where required by
      applicable law, we shall obtain your consent. To the extent permitted under the applicable
      law, you continued usage of application after we publish or send notice about our changes or
      amendments to this Policy shall constitute your consent to the updated Policy.
    </p>

    <p style="font-weight: 800; margin-top: 50px;">
      GRIEVANCES
    </p>
    <p>
      If you have any queries relating to the processing or usage of information by you in connection with
      this Policy, please email us at <a href="">hello@readyassist.in</a> or write to us at the following officer:
    </p>
    <p>
      Ms. Manju Shri Vaithyanathan<br>
      Sundaravijayam Automobile Services Private Limited (ReadyAssist) HQ<br>
      &#35; 16, 3rd floor, 17th cross, 9th main road, Sector 7 HSR Layout, Bengaluru, Karnataka
      560102
    </p>





  </div>

</div>

<div>
  <div style="margin: 10%;text-align: center;color: blue;">
    <p>Copyright © 2015 - 2022 : ReadyAssist - 24hrs vehicle Care.</p>
  </div>
</div>

</html>